.aprajita-ashk,
.group-child {
  position: absolute;
  top: -28px;
  left: -28px;
  width: 1114px;
  height: 336px;
}
.aprajita-ashk {
  top: 0;
  left: 0;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 465px;
  height: 71px;
}
.graphic-designer-the {
  margin: 0;
}
.graphic-designer-the-container {
  position: absolute;
  top: 43px;
  left: 0;
  font-size: var(--font-size-3xl);
  line-height: 24px;
  display: inline-block;
  width: 417.44px;
  height: 57px;
}
.aprajita-ashk-parent,
.group-parent {
  position: absolute;
  top: 97px;
  left: 399px;
  width: 465px;
  height: 100px;
  cursor: pointer;
}
.group-parent {
  top: 755px;
  left: 587px;
  width: 1034px;
  height: 256px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
}
.anandita-rao,
.product-designer-tynor {
  position: absolute;
  left: 0;
  display: inline-block;
}
.anandita-rao {
  top: 0;
  line-height: 30px;
  font-weight: 500;
  width: 1236.55px;
  height: 71px;
}
.product-designer-tynor {
  top: 43px;
  font-size: var(--font-size-3xl);
  line-height: 24px;
  width: 1110.09px;
  height: 57px;
}
.anandita-rao-parent,
.group-container {
  position: absolute;
  top: 99px;
  left: 400px;
  width: 1236.55px;
  height: 100px;
}
.group-container {
  top: 1072px;
  left: 587px;
  width: 1636.55px;
  height: 256px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
}
.group-div,
.niharika-jadhav-parent {
  position: absolute;
  top: 98px;
  left: 399px;
  width: 1236.55px;
  height: 100px;
}
.group-div {
  top: 1396px;
  left: 587px;
  width: 1635.55px;
  height: 256px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
}
.group-parent1,
.vanshika-manghani-parent {
  position: absolute;
  top: 85px;
  left: 399px;
  width: 1236.55px;
  height: 100px;
}
.group-parent1 {
  top: 1720px;
  left: 587px;
  width: 1635.55px;
  height: 256px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
}
.eya-tomar-parent,
.group-parent2 {
  position: absolute;
  top: 106px;
  left: 399px;
  width: 1236.55px;
  height: 100px;
}
.group-parent2 {
  top: 2044px;
  left: 587px;
  width: 1635.55px;
  height: 256px;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-100);
}
.alumni-list-child,
.alumni-list-item {
  position: absolute;
  box-sizing: border-box;
}
.alumni-list-child {
  top: 747.5px;
  left: 465.5px;
  border-right: 1px solid var(--color-dimgray-200);
  width: 1px;
  height: 1545px;
}
.alumni-list-item {
  top: 1007.5px;
  left: 22.5px;
  border-top: 1px solid var(--color-dimgray-200);
  width: 407px;
  height: 1px;
}
.alumni-list-inner {
  position: absolute;
  top: 797px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.experience,
.years,
.years1 {
  position: absolute;
  top: 868px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.experience,
.years1 {
  top: 805px;
}
.experience {
  top: 748px;
  left: 60px;
  font-weight: 500;
}
.rectangle-icon {
  position: absolute;
  top: 860px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.year-and-more {
  position: absolute;
  top: 931px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.alumni-list-child1,
.line-div {
  position: absolute;
  top: 923px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.line-div {
  top: 1297.5px;
  left: 22.5px;
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 407px;
  height: 1px;
}
.alumni-list-child2 {
  position: absolute;
  top: 1087px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.mumbai,
.pune {
  position: absolute;
  top: 1158px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.mumbai {
  top: 1095px;
}
.alumni-list-child3,
.city {
  position: absolute;
  left: 60px;
}
.city {
  top: 1038px;
  line-height: 24px;
  font-weight: 500;
}
.alumni-list-child3 {
  top: 1150px;
  width: 41px;
  height: 41px;
}
.bangalore {
  position: absolute;
  top: 1221px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.alumni-list-child4 {
  position: absolute;
  top: 1213px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-list-child5 {
  position: absolute;
  top: 1509.5px;
  left: 22.5px;
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 407px;
  height: 1px;
}
.alumni-list-child6 {
  position: absolute;
  top: 1372px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.b-des,
.degree,
.m-des {
  position: absolute;
  top: 1443px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.b-des,
.degree {
  top: 1380px;
}
.degree {
  top: 1323px;
  left: 60px;
  font-weight: 500;
}
.alumni-list-child7 {
  position: absolute;
  top: 1435px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-list-child8 {
  position: absolute;
  top: 1922.5px;
  left: 22.5px;
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 407px;
  height: 1px;
}
.alumni-list-child9 {
  position: absolute;
  top: 1584px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.courses,
.interior-design,
.product-design {
  position: absolute;
  top: 1655px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.courses,
.product-design {
  top: 1592px;
}
.courses {
  top: 1535px;
  left: 60px;
  font-weight: 500;
}
.alumni-list-child10,
.alumni-list-child11 {
  position: absolute;
  top: 1647px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-list-child11 {
  top: 1710px;
}
.graphic-design,
.uiux-design {
  position: absolute;
  top: 1781px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.uiux-design {
  top: 1718px;
}
.alumni-list-child12 {
  position: absolute;
  top: 1773px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.fashion-design {
  position: absolute;
  top: 1847px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.alumni-list-child13,
.alumni-list-child14 {
  position: absolute;
  top: 1839px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-list-child14 {
  top: 1994px;
}
.lakhs,
.less-than-3,
.year-of-passing {
  position: absolute;
  top: 2065px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.less-than-3,
.year-of-passing {
  top: 2002px;
}
.year-of-passing {
  top: 1945px;
  left: 60px;
  font-weight: 500;
}
.alumni-list-child15,
.alumni-list-child16 {
  position: absolute;
  top: 2057px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-list-child16 {
  top: 2120px;
}
.lakhs1,
.lakhs2 {
  position: absolute;
  top: 2191px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.lakhs2 {
  top: 2128px;
}
.alumni-list-child17 {
  position: absolute;
  top: 2183px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.lakhs-and-above {
  position: absolute;
  top: 2257px;
  left: 131px;
  line-height: 24px;
  font-weight: 300;
}
.alumni-list-child18 {
  position: absolute;
  top: 2249px;
  left: 60px;
  width: 41px;
  height: 41px;
}
.alumni-students {
  position: absolute;
  top: 0;
  left: -1825px;
  display: inline-block;
  width: 1825px;
}
.social-media {
  position: absolute;
  top: 666px;
  left: 1760px;
  width: 29px;
  height: 1825px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  text-align: center;
  font-size: 25px;
  color: var(--color-gray-100);
}
.alumni-list-child19 {
  position: absolute;
  top: 702.5px;
  left: 591.5px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 96px;
  height: 1px;
}
.rectangle-div {
  position: absolute;
  top: 2144px;
  left: 441px;
  border-radius: var(--br-31xl);
  background-color: var(--color-steelblue-200);
  width: 11px;
  height: 148px;
}
.talk-to-an {
  position: absolute;
  top: 0;
  left: 27px;
  font-weight: 500;
}
.and-get-expert {
  position: absolute;
  top: 78px;
  left: 0;
  font-size: var(--font-size-16xl);
  line-height: 30px;
  text-align: center;
}
.talk-to-an-alumni-parent {
  position: absolute;
  top: 0;
  left: 90px;
  width: 542px;
  height: 108px;
}
.group-child2,
.group-child3 {
  position: absolute;
  top: 0;
  height: 70px;
}
.group-child2 {
  left: 0;
  background-color: var(--color-white);
  box-shadow: 11px 11px 47px rgba(24, 114, 134, 0.17);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 786px;
}
.group-child3 {
  left: 645px;
  background-color: var(--color-steelblue-100);
  width: 140px;
}
.enter-email-address {
  position: absolute;
  top: 21px;
  left: 30px;
  line-height: 30px;
  font-weight: 300;
}
.group-child4 {
  position: absolute;
  top: 31px;
  left: 685px;
  background-color: var(--color-silver);
  width: 60px;
  height: 7px;
}
.rectangle-parent {
  position: absolute;
  top: 162px;
  left: 0;
  width: 786px;
  height: 70px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.group-parent3,
.subscribe {
  position: absolute;
  top: 0;
  left: 0;
  width: 786px;
  height: 232px;
}
.subscribe {
  top: 2674px;
  left: 498px;
  font-size: var(--font-size-41xl);
  color: var(--color-dimgray-100);
}
.bg-icon {
  position: absolute;
  top: 0;
  left: -71px;
  width: 1922px;
  height: 477px;
}
.home-about-us-container,
.infomation {
  position: absolute;
  top: 52px;
  left: 0;
  line-height: 36px;
}
.infomation {
  top: 0;
  font-size: var(--font-size-3xl);
  line-height: 24px;
  font-weight: 500;
}
.info,
.services,
.services1 {
  position: absolute;
  top: 85px;
  left: 607px;
  width: 153px;
  height: 232px;
}
.services,
.services1 {
  left: 973px;
  width: 181px;
  height: 268px;
}
.services1 {
  left: 1340px;
  width: 105px;
  height: 232px;
}
.studentlink {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
}
.gmailcom {
  color: inherit;
}
.studentlink101gmailcom {
  position: absolute;
  top: 151px;
  left: 1px;
  color: inherit;
}
.mit-adt-university-container {
  position: absolute;
  top: 64px;
  left: 1px;
  line-height: 24px;
}
.address,
.xxxxx {
  position: absolute;
  top: 194px;
  left: 1px;
}
.address {
  top: 85px;
  left: 240px;
  width: 217px;
  height: 214px;
}
.privacy-policy,
.studentlink2023 {
  position: absolute;
  top: 409px;
  left: 806px;
  line-height: 36px;
}
.studentlink2023 {
  left: 241px;
}
.footer,
.social-media-icon {
  position: absolute;
  top: 418px;
  left: 1438px;
  width: 242.05px;
  height: 17px;
}
.footer {
  top: 3019px;
  left: -71px;
  width: 1922px;
  height: 477px;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.search-icon {
  position: absolute;
  top: 7px;
  left: 1449.03px;
  width: 53.97px;
  height: 48px;
}
.contact1,
.home1 {
  position: absolute;
  top: 21px;
  left: 769px;
  font-weight: 500;
  display: inline-block;
  width: 59px;
}
.contact1 {
  left: 1252px;
  width: 80px;
}
.log-in {
  top: 21px;
  left: 1345px;
  width: 69px;
}
.about,
.find-a-course1,
.log-in,
.university-rankings1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.university-rankings1 {
  top: 21px;
  left: 1070px;
  width: 182px;
}
.about,
.find-a-course1 {
  top: 0;
}
.find-a-course1 {
  left: 944px;
  width: 130px;
  height: 44px;
}
.about {
  left: 863px;
  width: 60px;
}
.menu-child {
  position: absolute;
  top: 48px;
  left: 1074.19px;
  background-color: var(--color-gray-200);
  width: 146.4px;
  height: 1px;
}
.button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 157.58px;
  height: 48px;
}
.sign-up {
  position: absolute;
  top: 13px;
  left: 39.58px;
  display: inline-block;
  width: 87px;
}
.button {
  position: absolute;
  top: 7px;
  left: 1540.42px;
  width: 157.58px;
  height: 48px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.studentlink1 {
  position: absolute;
  top: 13px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 900;
  color: #191819;
  display: inline-block;
  width: 240px;
}
.menu {
  position: absolute;
  top: 110px;
  left: 2707px;
  width: 1698px;
  height: 55px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.icon,
.icon1 {
  object-fit: cover;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 632px;
  height: 456px;
}
.icon1 {
  left: 643px;
  width: 633px;
}
.icon1,
.icon2,
.parent {
  position: absolute;
  top: 0;
  height: 456px;
}
.icon2 {
  left: 1288px;
  width: 632px;
  object-fit: cover;
}
.parent {
  left: 0;
  width: 1920px;
}
.group-parent4,
.subscribe1 {
  position: absolute;
  top: 112px;
  left: 567px;
  width: 786px;
  height: 232px;
}
.subscribe1 {
  top: 2503px;
  left: 2660px;
  width: 1920px;
  height: 456px;
  font-size: var(--font-size-41xl);
  color: var(--color-dimgray-100);
}
.bg-icon1,
.footer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1922px;
  height: 477px;
}
.footer1 {
  top: 2960px;
  left: 2658px;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.see-more {
  position: absolute;
  top: 17px;
  left: 41px;
  line-height: 24px;
  font-weight: 300;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 175px;
  height: 58px;
}
.group-child9,
.see-more-parent {
  position: absolute;
  top: 2402px;
  left: 588px;
  width: 175px;
  height: 58px;
}
.group-child9 {
  top: 0;
  left: 14px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-palegreen);
  width: 105px;
  height: 29px;
}
.fast-responder {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 132px;
  height: 15px;
}
.rectangle-container {
  position: absolute;
  top: 931px;
  left: 973px;
  width: 132px;
  height: 29px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 125px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-palegreen);
  width: 105px;
  height: 29px;
}
.fast-responder1 {
  position: absolute;
  top: 3px;
  left: 111px;
  line-height: 24px;
  display: inline-block;
  width: 132px;
  height: 15px;
}
.rectangle-parent2 {
  position: absolute;
  top: 311px;
  left: 0;
  width: 132px;
  height: 29px;
}
.rectangle-parent1 {
  position: absolute;
  top: 1580px;
  left: 973px;
  width: 243px;
  height: 340px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.alumni-list-child20 {
  position: absolute;
  top: 931px;
  left: 1100px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-khaki);
  width: 105px;
  height: 29px;
}
.easy-to-talk {
  position: absolute;
  top: 934px;
  left: 1086px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-align: center;
  display: inline-block;
  width: 132px;
  height: 15px;
}
.alumni-list-child21 {
  position: absolute;
  top: 1257px;
  left: 987px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-khaki);
  width: 105px;
  height: 29px;
}
.easy-to-talk1 {
  position: absolute;
  top: 1260px;
  left: 973px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-align: center;
  display: inline-block;
  width: 132px;
  height: 15px;
}
.alumni-list-child22 {
  position: absolute;
  top: 1580px;
  left: 985px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-khaki);
  width: 105px;
  height: 29px;
}
.easy-to-talk2 {
  position: absolute;
  top: 1583px;
  left: 971px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-align: center;
  display: inline-block;
  width: 132px;
  height: 15px;
}
.group-child12,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  width: 105px;
  height: 29px;
}
.group-child12 {
  left: 0;
  border-radius: var(--br-mini-5);
  background-color: var(--color-khaki);
}
.rectangle-wrapper {
  left: 14px;
}
.group-parent5,
.group-parent6 {
  position: absolute;
  top: 931px;
  left: 1086px;
  width: 132px;
  height: 29px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.group-parent6 {
  top: 2235px;
  left: 973px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 14px;
  border-radius: var(--br-mini-5);
  background-color: var(--color-paleturquoise);
  width: 105px;
  height: 29px;
}
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 931px;
  left: 1199px;
  width: 132px;
  height: 29px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.rectangle-parent4 {
  top: 1257px;
  left: 1090px;
}
.alumni-list-child23 {
  position: absolute;
  top: 0;
  left: -100px;
  width: 1920px;
  height: 574px;
}
.university-rankings3 {
  position: absolute;
  top: 65px;
  left: 997px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-white);
}
.search-icon1 {
  position: absolute;
  top: 7px;
  left: 1359px;
  width: 56px;
  height: 56px;
}
.contact3,
.home3,
.log-in1 {
  position: absolute;
  top: 21px;
  font-weight: 500;
}
.home3 {
  left: 634px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact3,
.log-in1 {
  left: 1152px;
}
.log-in1 {
  left: 1251px;
}
.find-a-course3 {
  position: absolute;
  top: 21px;
  font-weight: 500;
  display: inline-block;
}
.find-a-course3 {
  left: 821px;
  width: 121px;
  height: 44px;
}
.about1 {
  position: absolute;
  top: 21px;
  font-weight: 500;
  display: inline-block;
  left: 735px;
  width: 51px;
}
.menu-item {
  position: absolute;
  top: 48px;
  left: 634px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 48px;
  height: 1px;
}
.menu-inner {
  position: absolute;
  top: 7px;
  left: 1457px;
  border-radius: var(--br-31xl);
  width: 177px;
  height: 56px;
}
.sign-up1 {
  position: absolute;
  top: 20px;
  left: 1510px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-200);
}
.studentlink3 {
  position: absolute;
  top: 13px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-weight: 900;
}
.menu1 {
  position: absolute;
  top: 44px;
  left: 41px;
  width: 1630px;
  height: 55px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.list-of-the {
  position: absolute;
  top: 115px;
  left: 3px;
  line-height: 38px;
}
.alumni-list1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 90px;
}
.list-of-the-alumnis-from-your-parent {
  position: absolute;
  top: 263px;
  left: 202px;
  width: 477px;
  height: 153px;
  font-size: 24px;
  color: var(--color-white);
}
.vector-icon {
  position: absolute;
  height: 0.89%;
  width: 2.43%;
  top: 3.89%;
  right: 95.43%;
  bottom: 95.22%;
  left: 2.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.alumni-list {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3496px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
