.chat-child,
.chat-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 487px;
}
.chat-item {
  top: 243px;
  left: 148px;
  border-radius: 50%;
  width: 366px;
  height: 366px;
  object-fit: cover;
}
.aprajita-ashk {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 389px;
  height: 71px;
}
.graphic-designer-the {
  margin: 0;
}
.graphic-designer-the-container {
  position: absolute;
  top: 43px;
  left: 0;
  font-size: var(--font-size-3xl);
  line-height: 24px;
  display: inline-block;
  width: 349.22px;
  height: 57px;
}
.aprajita-ashk-parent {
  position: absolute;
  top: 366px;
  left: 591px;
  width: 389px;
  height: 100px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.university-rankings {
  position: absolute;
  top: 65px;
  left: 997px;
  font-weight: 500;
  color: var(--color-white);
}
.search-icon {
  position: absolute;
  top: 7px;
  left: 1359px;
  width: 56px;
  height: 56px;
}
.home {
  position: absolute;
  top: 21px;
  left: 635px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about {
  position: absolute;
  top: 21px;
  left: 725px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.find-a-course {
  position: absolute;
  top: 21px;
  left: 805px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact {
  position: absolute;
  top: 21px;
  left: 1150px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.log-in {
  position: absolute;
  top: 21px;
  left: 1240px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.university-rankings {
  position: absolute;
  top: 20px;
  left: 955px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/*.home {
  position: absolute;
  top: 21px;
  left: 634px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact {
  top: 21px;
  left: 1152px;
}
.about,
.contact,
.find-a-course,
.log-in {
  position: absolute;
  font-weight: 500;
}
.log-in {
  top: 21px;
  left: 1251px;
}
.about,
.find-a-course {
  top: 0;
  display: inline-block;
}
.find-a-course {
  left: 821px;
  width: 121px;
  height: 44px;
}
.about {
  left: 735px;
  width: 51px;
}*/
.menu-child {
  position: absolute;
  top: 48px;
  left: 634px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 48px;
  height: 1px;
}
.menu-item {
  position: absolute;
  top: 7px;
  left: 1457px;
  border-radius: 50px;
  width: 177px;
  height: 56px;
}
.sign-up {
  position: absolute;
  top: 20px;
  left: 1510px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue-200);
}
.studentlink {
  position: absolute;
  top: 13px;
  left: 100px;
  font-size: 30px;
  font-weight: 900;
}
.menu {
  position: absolute;
  top: 44px;
  left: 41px;
  width: 1630px;
  height: 55px;
  color: var(--color-white);
}
.nidhi-padalkar,
.people-also-viewed,
.visual-designer {
  position: absolute;
  top: 604px;
  left: 1257px;
  font-size: var(--font-size-3xl);
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  width: 367px;
  height: 40px;
}
.nidhi-padalkar,
.visual-designer {
  top: 676px;
  left: 1386px;
  width: 149px;
}
.visual-designer {
  top: 705px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  width: 183px;
}
.chat-inner,
.rectangle-div {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.chat-inner {
  top: 654px;
  left: 1268px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
}
.rectangle-div {
  top: 759px;
  left: 1386px;
  border-radius: var(--br-6xl);
  width: 152px;
  height: 34px;
}
.message,
.sneha-lakra,
.textile-designer {
  position: absolute;
  top: 759px;
  left: 1423px;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  width: 77px;
  height: 40px;
}
.sneha-lakra,
.textile-designer {
  top: 874px;
  left: 1390px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  width: 149px;
}
.textile-designer {
  top: 903px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  width: 183px;
}
.chat-child1,
.ellipse-div {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.ellipse-div {
  top: 852px;
  left: 1272px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
}
.chat-child1 {
  top: 957px;
  left: 1390px;
  border-radius: var(--br-6xl);
  width: 152px;
  height: 34px;
}
.message1,
.niharika-jadhav,
.product-designer {
  position: absolute;
  top: 957px;
  left: 1427px;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  width: 77px;
  height: 40px;
}
.niharika-jadhav,
.product-designer {
  top: 1063px;
  left: 1394px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  width: 183px;
}
.product-designer {
  top: 1092px;
  font-size: var(--font-size-xl);
  font-weight: 300;
}
.chat-child2 {
  position: absolute;
  top: 1041px;
  left: 1276px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 97px;
  height: 97px;
}
.chat-child3,
.message2 {
  position: absolute;
  top: 1146px;
}
.chat-child3 {
  left: 1394px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gainsboro);
  width: 152px;
  height: 34px;
}
.message2 {
  left: 1430px;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  width: 77px;
  height: 40px;
}
.chat-child4,
.chat-child5 {
  position: absolute;
  top: 822px;
  left: 168px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 358px;
  height: 81px;
}
.chat-child5 {
  left: 583px;
}
.book-a-meeting,
.message3 {
  position: absolute;
  top: 849px;
  left: 261px;
  font-size: var(--font-size-13xl);
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 172px;
  height: 26px;
}
.book-a-meeting {
  left: 613px;
  width: 297px;
}
.image-8-icon {
  position: absolute;
  top: 665px;
  left: 182px;
  width: 298px;
  height: 65px;
  object-fit: cover;
}
.about1,
.experience,
.experienced-graphic-designer {
  position: absolute;
  left: 170px;
  line-height: 30px;
  display: inline-block;
}
.about1 {
  top: 982px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  width: 367px;
  height: 40px;
}
.experience,
.experienced-graphic-designer {
  top: 1033px;
  font-size: var(--font-size-5xl);
  width: 827px;
}
.experience {
  top: 1232px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  width: 367px;
  height: 40px;
}
.chat-child6 {
  position: absolute;
  top: 578px;
  left: 1239px;
  border-radius: 30px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 408px;
  height: 687px;
}
.ellipse-icon {
  position: absolute;
  top: 666px;
  left: 1268px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.chat-child7,
.chat-child8,
.line-div {
  position: absolute;
  top: 823.5px;
  left: 1265.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 350px;
  height: 1px;
}
.chat-child7,
.chat-child8 {
  top: 1020.5px;
  left: 1267.5px;
}
.chat-child8 {
  top: 1209.5px;
  left: 1269.5px;
}
.chat-child9 {
  position: absolute;
  top: 757px;
  left: 1386px;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 34px;
}
.message4 {
  position: absolute;
  top: 759px;
  left: 1423px;
  line-height: 30px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 77px;
  height: 40px;
}
.chat-child10 {
  position: absolute;
  top: 862px;
  left: 1272px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.chat-child11 {
  position: absolute;
  top: 956px;
  left: 1390px;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 34px;
}
.message5 {
  position: absolute;
  top: 957px;
  left: 1427px;
  line-height: 30px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 77px;
  height: 40px;
}
.chat-child12 {
  position: absolute;
  top: 1051px;
  left: 1276px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
  object-fit: cover;
}
.chat-child13 {
  position: absolute;
  top: 1144px;
  left: 1394px;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 34px;
}
.message6,
.show-more {
  position: absolute;
  top: 1146px;
  left: 1430px;
  line-height: 30px;
  font-weight: 300;
  color: var(--color-white);
  display: inline-block;
  width: 77px;
  height: 40px;
}
.show-more {
  top: 1219px;
  left: 1388px;
  color: var(--color-black);
  text-align: center;
  width: 110px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-white);
  width: 435px;
  height: 513px;
}
.group-inner,
.group-item {
  top: 462px;
  background-color: var(--color-gainsboro);
  height: 55px;
}
.group-inner {
  top: 2px;
  left: 0;
  background-color: var(--color-steelblue-200);
  width: 437px;
  height: 53px;
}
.aprajita-ashk1,
.type-a-message {
  position: absolute;
  line-height: 30px;
  display: inline-block;
}
.aprajita-ashk1 {
  top: 15px;
  left: 67px;
  font-weight: 500;
  width: 148px;
  height: 30px;
}
.type-a-message {
  top: 476px;
  left: 22px;
  font-size: var(--font-size-xl);
  font-weight: 200;
  color: var(--color-dimgray);
  width: 181px;
}
.rectangle-parent {
  position: absolute;
  top: 600px;
  left: 785px;
  width: 437px;
  height: 517px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.alpha-x-circle-outline-icon,
.vector-icon {
  position: absolute;
  top: 617px;
  left: 1179px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon {
  height: 0.66%;
  width: 0.69%;
  top: 56.13%;
  right: 52.95%;
  bottom: 43.2%;
  left: 46.35%;
  max-width: 100%;
  max-height: 100%;
}
.arrow-collapse-icon {
  position: absolute;
  top: 617px;
  left: 1138px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.chat-child14 {
  position: absolute;
  top: 624px;
  left: 829px;
  border-radius: 50%;
  background-color: #8fd776;
  width: 11px;
  height: 11px;
}
.vector-icon1 {
  position: absolute;
  height: 2.78%;
  width: 2.43%;
  top: 12.18%;
  right: 95.43%;
  bottom: 85.05%;
  left: 2.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.chat {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
