body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-abel: Abel;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #111;
  --color-darkslategray: #333;
  --color-crimson: #ee1d52;
  --color-dimgray-100: #666;
  --color-dimgray-200: #505050;
  --color-dimgray-300: rgba(102, 102, 102, 0.8);
  --color-dimgray-400: rgba(102, 102, 102, 0.35);
  --color-black: #000;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-xs: 12px;
}
